<!DOCTYPE HTML>
<!--
	Phantom by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
 <html>
	<head>
		<title>Adam Frankenfeld</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css.scss" />
		<link rel="stylesheet" href="assets/css/custom.css.scss" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
	</head> 
    	<body>
		<!-- Wrapper -->
			<div id="wrapper">
				
				<!-- Main -->
					<div id="main">
						<div class="inner">
								<header>
									<h1>I am <strong>Adam Frankenfeld</strong>, a Chicago-based	production assistant, video editor, and video game entrepreneur.</h1>
								</header>
							<section class="tiles">
								<article class="style1">
									<span class="image">
										<img src="images/1af.jpg" alt="" />
									</span>
									<%= link_to about_path do %>
											<h2>About Me</h2>
											<div class="content">
												<p>Allow me to introduce myself</p>
											</div>
									<% end %>
								</article>
								<article class="style2">
									<span class="image">
										<img src="images/2bts-icon.jpg" alt="" />
									</span>
									<%= link_to documentary_path do %>
										<h2>Beneath the Skin</h2>
										<div class="content">
											<p>My current project for ABC</p>
										</div>
									<% end %>
								</article>
								
								<article class="style4">
									<span class="image">
										<img src="images/4atr.png" alt="" />
									</span>
									<%= link_to radio_path do %>
										<h2>African Trauma Radio</h2>
										<div class="content">
											<p>Contract project for the people of Africa</p>
										</div>
									<% end %>
								</article>
								<article class="style5">
									<span class="image">
										<img src="images/5inspectorhound.jpg" alt="" />
									</span>
									<%= link_to inspector_hound_path do %>
										<h2>The Real Inspector Hound</h2>
										<div class="content">
											<p>Experience in leadership and directing a play</p>
										</div>
									<% end %>
								</article>
								<article class="style6">
									<span class="image">
										<img src="images/6enraged.png" alt="" />
									</span>
									<%= link_to enraged_path do %>
										<h2>The Enraged</h2>
										<div class="content">
											<p>A TBC, old-school RPG</p>
										</div>
									<% end %>
								</article>
								<article class="style3">
									<span class="image">
										<img src="images/7cco.png" alt="" />
									</span>
									<%= link_to couch_show_path do %>
										<h2>The Couch Co-Op Show</h2>
										<div class="content">
											<p>Concept show for YouTube</p>
										</div>
									<% end %>
								</article>
							
								<article class="style4">
									<span class="image">
										<img src="images/9lor.jpg" alt="" />
									</span>
									<%= link_to letters_path do %>
										<h2>Letters of Recommedation</h2>
										<div class="content">
											<p>Professionals who recommend my work</p>
										</div>
									<% end %>
								</article>
							
							</section>
						</div>
					</div>

				

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html> 