<!DOCTYPE html>
<html>
<head>
    <title>Adam Frankenfeld</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="assets/css/main.css" />
    <link rel="stylesheet" href="assets/css/custom.css" />
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
</head> 


    <body>
        <div class="row">
          <div class="col-md-4 col-md-offset-4">
            <div class="well">
              <%= form_for @contact do |f| %>
                <div class="form-group">
                  <%= f.label :name %>
                  <%= f.text_field :name, class: 'form-control' %>
                </div>
                <div class="form-group">
                  <%= f.label :email %>
                  <%= f.email_field :email, class: 'form-control' %>
                </div>
                <div class="form-group">
                  <%= f.label :comments %>
                  <%= f.text_area :comments, class: 'form-control' %>
                </div>
                <%= f.submit 'Submit', class: 'btn btn-default' %>
              <% end %>
            </div>


            <section>
                <h2>Follow</h2>
                <ul class="icons">
                  <li><a href="https://twitter.com/Frankatank34" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
                  <li><a href="https://www.facebook.com/adamfrankenfeld" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
                  <li><a href="https://www.linkedin.com/in/adamfrankenfeld" class="icon style2 fa-linkedin"><span class="label">LinkedIn</span></a></li>
                  <li><a href="http://steamcommunity.com/id/frankatank34" class="icon style2 fa-steam"><span class="label">Steam</span></a></li>
                </ul>
              </section>
          </div>
        </div>
    </body>
</html>