<!DOCTYPE html>
<html>
<head>
  <title>Adam Frankenfeld</title>
 	 <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
 	 <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
 	 <%= csrf_meta_tags %>
	  	<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	  	<link rel="stylesheet" href="assets/css/main.css" />	
</head>
  <body>
  	
  	<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Logo -->
								<%= link_to root_path do %>
									<span class="symbol">
										<div class="icon">
											<img src="images/icon2.jpg" alt="" />
												<h5>Adam Frankenfeld <br/>
													<%= link_to "Contact Me", new_contact_path %>
												</h5>
										</div>
									</span>
								<% end %>

							<!-- Nav -->
								<nav>
									<ul>
										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>

						</div>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<h2>Menu</h2>
						<ul>
							<li><%= link_to root_path do %>Home<% end %></li>
							<li><%= link_to about_path do %>About<% end %></li>
							<li><%= link_to documentary_path do %>Beneath the Skin<% end %></li>
							<li><%= link_to radio_path do %>African Trauma Radio<% end %></li>
							<li><%= link_to inspector_hound_path do %>The Real Inspector Hound<% end %></li>
							<li><%= link_to enraged_path do %>The Enraged<% end %></li>
							<li><%= link_to couch_show_path do %>The Couch Co-Op Show<% end %></li>
							<li><%= link_to letters_path do %>Letters of Recommedation<% end %></li>
						</ul>
					</nav>

	
		<div class="container">
			<% flash.each do |key, value| %>
				<%= content_tag :div, value, class: "alert alert-#{key}" %>
			<% end %>
			

			<%= yield %>
		</div>


		 
	</div>	

		<footer id="footer">
			<div class="container">
				<div class="inner">
					<div class="row">
						<div class="col-md-6 col-md-offset-3">
							<section>
								<h2>Follow</h2>
								<ul class="icons">
									<li><a href="https://twitter.com/Frankatank34" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
									<li><a href="https://www.facebook.com/adamfrankenfeld" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
									<li><a href="https://www.linkedin.com/in/adamfrankenfeld" class="icon style2 fa-linkedin"><span class="label">LinkedIn</span></a></li>
									<li><a href="http://steamcommunity.com/id/frankatank34" class="icon style2 fa-steam"><span class="label">Steam</span></a></li>
								</ul>
							</section>
						<ul class="copyright">
							<li>&copy; TheGroovestation. All rights reserved</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
						</ul>
						</div>		
					</div>
				</div>
			</div>	
		</footer>

		
  </body>
</html>
