<!DOCTYPE html>
<html>
<head>
  <title>Adam Frankenfeld</title>
 	 <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
 	 <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
 	 <%= csrf_meta_tags %>
	  	<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	  	<link rel="stylesheet" href="assets/css/main.css" />	
</head>
  <body>
  	
  	<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Logo -->
								<%= link_to root_path do %>
									<span class="symbol">
										<div class="icon">
											<img src="images/icon2.jpg" alt="" />
												<h5>Adam Frankenfeld</h5>
										</div>
									</span>
								<% end %>

							<!-- Nav -->
								<nav>
									<ul>
										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>

						</div>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<h2>Menu</h2>
						<ul>
							<li><%= link_to root_path do %>Home<% end %></li>
							<li><%= link_to about_path do %>About<% end %></li>
							<li><%= link_to documentary_path do %>Beneath the Skin<% end %></li>
							<li><%= link_to radio_path do %>African Trauma Radio<% end %></li>
							<li><%= link_to inspector_hound_path do %>The Real Inspector Hound<% end %></li>
							<li><%= link_to enraged_path do %>The Enraged<% end %></li>
							<li><%= link_to couch_show_path do %>The Couch Co-Op Show<% end %></li>
							<li><%= link_to letters_path do %>Letters of Recommedation<% end %></li>
						</ul>
					</nav>

	
		<div class="container">
		
			<%= yield %>
		</div>


		 
	</div>	
		
  </body>
</html>
